@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background:  oklch(1 0 0);
  --foreground: oklch(20% 0.01 43);

  --card: oklch(100% 0 0);
  --card-foreground: oklch(20% 0.01 43);

  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(20% 0.01 43);

  --primary: oklch(69% 0.23 45);
  --primary-foreground: oklch(98% 0.01 80);

  --secondary: oklch(97% 0.01 68);
  --secondary-foreground: oklch(20% 0.02 43);

  --muted: oklch(96% 0.005 92);
  --muted-foreground: oklch(55% 0.03 50);

  --accent: oklch(96% 0.005 92);
  --accent-foreground: oklch(20% 0.02 43);

  --destructive: oklch(63% 0.22 26);
  --destructive-foreground: oklch(98% 0 0);

  --border: oklch(92% 0.006 59);
  --input: oklch(91% 0 0);
  --ring: oklch(70% 0.22 47);
  --radius: 18px;
}

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--border);
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--muted-foreground);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }

  body {
    @apply bg-background text-foreground;
    @apply font-nunito antialiased;
  }
}
